index.html.erb

<div class="restaurant-container">
  <h1>List of restaurants!</h1>
    <div class="restaurants">
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
            <%= link_to restaurant.name, restaurant_path(restaurant.id) %>
          </li>
        <% end %>
      </ul>

    <p><%= link_to "Add a new restaurant", new_restaurant_path  %></p>
  </div>
</div>
